@page
@model BookShop.Pages.Book.CreateModel
@{
}

<br />

<h2>New Book</h2>

@if (Model.ErrorMessage.Length > 0)
{
    <div class="row mb-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Book ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="bookId" value="@Model.bookInfo.BookID" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Book Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="bookTitle" value="@Model.bookInfo.Title" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">AuthorName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="authorName" value="@Model.bookInfo.Author" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Year</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="year" value="@Model.bookInfo.year" />
        </div>
    </div>

    @if (Model.SuccessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-6">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.SuccessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/book/index" role="button">Cancel</a>
        </div>
    </div>
</form>
